<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<div align="center">
  <h2>Users</h2>
  <h3><a th:href="@{/new}">Create</a></h3>
  <table border="1" cellpadding="5">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Nickname</th>
      <th>Age</th>
      <th>Action</th>

    </tr>
    <tr th:each="user : ${userList}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.nickname}"></td>
      <td th:text="${user.age}"></td>

      <td>
        <form th:method="GET" th:action="@{/edit/{id}(id=${user.getId()})}">
          <input type="submit" value="Edit">
        </form>
        <form th:method="delete" th:action="@{/delete/{id}(id=${user.getId()})}">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  </table>


</div>
</body>
</html>